---
import Linkedin from "@/icons/linkedin.astro";
import Github from "@/icons/github.astro";
import Email from "@/icons/email.astro";
import Logo from "@/components/Logo.astro";

const email = "marceelodominguez@gmail.com";
const name = "Marcelo Dominguez";
---

<footer class="flex justify-between items-start py-8 px-2">
  <Logo />
  <a
    href="https://play.google.com/store/apps/details?id=com.controldecostos"
    target="_blank"
    rel="noopener noreferrer"
    class="flex gap-2 items-center"
  >
    <svg
      class="text-indigo-950/60"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
      ></path><path d="M15 9l-10.5 11.5"></path><path d="M4.5 3.5l10.5 11.5"
      ></path></svg
    >
    <span class="font-outfit font-bold text-indigo-950/70 text-[15px]"
      >Descarga la app</span
    >
  </a>
  <div class="flex-col flex gap-y-4">
    <a
      href={`mailto:${email}`}
      title={`Enviar un correo electrónico a ${name} al correo ${email}`}
      target="_blank"
      rel="noopener noreferrer"
      class="text-indigo-950/70 transition duration-300 ease-in-out hover:text-indigo-700 flex items-center gap-1"
    >
      <Email />
      <span class="font-outfit font-bold text-[15px]">Email</span>
    </a>
    <a
      href="https://www.linkedin.com/in/marcelo-dominguez-351570194/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-indigo-950/70 transition duration-300 ease-in-out hover:text-indigo-700 flex items-center gap-1"
    >
      <Linkedin />
      <span class="font-outfit font-bold text-[15px]">LinkedIn</span>
    </a>
    <a
      href="https://github.com/MarceeloDominguez"
      target="_blank"
      rel="noopener noreferrer"
      class="text-indigo-950/70 transition duration-300 ease-in-out hover:text-indigo-700 flex items-center gap-1"
    >
      <Github />
      <span class="font-outfit font-bold text-[15px]">Github</span>
    </a>
  </div>
</footer>
