---
import { Image } from "astro:assets";
import LogoApp from "@/assets/icon.png";
---

<div class="size-10 bg-[#f1f2f6] rounded-md">
  <Image
    src={LogoApp}
    alt="logo de la página"
    class="size-10"
    loading="eager"
  />
</div>
